<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>@ViewData["Login"]</title>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
                @* <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a> *@
                @Html.ActionLink("Register", "Register", "Login")
			</div>
		</nav>
		<div >
			@RenderBody()
		</div>
        <link href="~/css/style.css" rel="stylesheet"/>
        @RenderSection("Scripts", required: false)
	</body>
</html>