@model DOTNET.Models.Tasks
@{
    ViewBag.Title = "Task Detail";
    Layout = null;
}

<h1>Details</h1>

<div>
    <h4>Task Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Describtion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Describtion)
        </dd>

    </dl>
</div>